body{
  background-color: #F2F4F4 !important;
}

.ui.inverted.top.fixed.menu {

  background-image: linear-gradient(135deg, rgb(63, 41, 72) 0%, rgb(143, 78, 169 ) 69%, rgb(161, 120, 178) 89%) !important;
}

.react-calendar{
  width: 100%;
  border: none;
  box-shadow: 0 1px 2-x rgba(34,36,38,.15);
}

.react-datepicker-wrapper {
  width: 100%;
}

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
     135deg,
     rgb(63, 41, 72) 0%,
     rgb(143, 78, 169 ) 69%,
     rgb(161, 120, 178) 89%
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

select#select-category {
  margin-top: 30px;
  width: 70%;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
}

.ui[class*="right spaced"].image {
  margin-left: 20px;
}

.form-segment {
  display: flex;
  justify-content: center;
}

.formik-segment {
  width: 50%;
}

button.ui.fluid.positive.button {
  background: purple;
}

button.ui.positive.disabled.right.floated.button {
  background: purple;
}

button.ui.positive.right.floated.button {
  background: purple;
}
